@charset "UTF-8";

@font-face {
  font-family: "simplifyhire";
  src:url("fonts/simplifyhire.eot");
  src:url("fonts/simplifyhire.eot?#iefix") format("embedded-opentype"),
    url("fonts/simplifyhire.woff") format("woff"),
    url("fonts/simplifyhire.ttf") format("truetype"),
    url("fonts/simplifyhire.svg#simplifyhire") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "simplifyhire" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "simplifyhire" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-vendor:before {
  content: "\63";
}
.icon-google:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\65";
}
.icon-looking-for-hire:before {
  content: "\66";
}
.icon-job:before {
  content: "\67";
}
.icon-email:before {
  content: "\68";
}
.icon-edit:before {
  content: "\69";
}
.icon-file:before {
  content: "\6a";
}
.icon-notification:before {
  content: "\6b";
}
.icon-down-arrow:before {
  content: "\6c";
}
.icon-envelope-2:before {
  content: "\6d";
}
.icon-female:before {
  content: "\6e";
}
.icon-male:before {
  content: "\6f";
}
.icon-calendar:before {
  content: "\70";
}
.icon-move:before {
  content: "\71";
}
.icon-edit-1:before {
  content: "\72";
}
.icon-trash:before {
  content: "\73";
}
.icon-calendar-1:before {
  content: "\74";
}
.icon-plus-1:before {
  content: "\75";
}
.icon-download:before {
  content: "\76";
}
.icon-job-1:before {
  content: "\77";
}
.icon-refer:before {
  content: "\78";
}
.icon-start:before {
  content: "\79";
}
.icon-female-1:before {
  content: "\7a";
}
.icon-invitation:before {
  content: "\41";
}
.icon-location:before {
  content: "\42";
}
.icon-male-1:before {
  content: "\43";
}
.icon-rocket:before {
  content: "\44";
}
.icon-suitcase:before {
  content: "\45";
}
.icon-tick:before {
  content: "\46";
}
.icon-verified:before {
  content: "\47";
}
.icon-editpencil:before {
  content: "\48";
}
.icon-phone-call:before {
  content: "\49";
}
.icon-plus:before {
  content: "\4b";
}
.icon-document:before {
  content: "\4d";
}
.icon-contract:before {
  content: "\4e";
}
.icon-communication:before {
  content: "\4f";
}
.icon-close:before {
  content: "\50";
}
.icon-check-mark:before {
  content: "\51";
}
.icon-caret-down:before {
  content: "\52";
}
.icon-location-1:before {
  content: "\53";
}
.icon-linkedin:before {
  content: "\54";
}
.icon-git:before {
  content: "\55";
}
.icon-facebook-1:before {
  content: "\56";
}
.icon-behance:before {
  content: "\57";
}
.icon-diploma:before {
  content: "\58";
}
.icon-envelope:before {
  content: "\5a";
}
.icon-graduation-cap:before {
  content: "\30";
}
.icon-travel:before {
  content: "\31";
}
.icon-pdf:before {
  content: "\32";
}
.icon-skills:before {
  content: "\33";
}
.icon-birthday:before {
  content: "\35";
}
.icon-currency:before {
  content: "\36";
}
.icon-resume:before {
  content: "\37";
}
.icon-back-arrow:before {
  content: "\38";
}
.icon-twitter2:before {
  content: "\39";
}
.icon-dribble:before {
  content: "\21";
}
.icon-left-arrow:before {
  content: "\4a";
}
.icon-building:before {
  content: "\4c";
}
.icon-clock:before {
  content: "\59";
}
.icon-cloud:before {
  content: "\34";
}
.icon-comment:before {
  content: "\22";
}
.icon-cardiac-pulse:before {
  content: "\23";
}
.icon-bookmark:before {
  content: "\24";
}
.icon-heart:before {
  content: "\25";
}
.icon-laptop:before {
  content: "\26";
}
.icon-speaker:before {
  content: "\27";
}
.icon-zoom:before {
  content: "\28";
}
.icon-user:before {
  content: "\29";
}
.icon-user-outline:before {
  content: "\2a";
}
.icon-users:before {
  content: "\2b";
}
.icon-paperclip:before {
  content: "\2c";
}
.icon-meter:before {
  content: "\2d";
}
.icon-email-plane:before {
  content: "\2e";
}
.icon-diamond:before {
  content: "\2f";
}
.icon-cube:before {
  content: "\3a";
}
.icon-files:before {
  content: "\3b";
}
.icon-flag:before {
  content: "\3c";
}
.icon-cd:before {
  content: "\3d";
}
.icon-bubble-3:before {
  content: "\3e";
}
.icon-bubble-1:before {
  content: "\3f";
}
.icon-bubble:before {
  content: "\40";
}
.icon-windows:before {
  content: "\5b";
}
.icon-select:before {
  content: "\5d";
}
.icon-phone-2:before {
  content: "\5e";
}
.icon-map:before {
  content: "\5f";
}
.icon-settings:before {
  content: "\60";
}
.icon-sun:before {
  content: "\7b";
}
.icon-stopwatch:before {
  content: "\7c";
}
.icon-star:before {
  content: "\7d";
}
