<div class="navigation" id="sidebar">
    <div class="nav-wrapper">
    <div class="sidebar__inner">
        <ul>
  
            <div class="logo imglogo">
                <!-- <img src="assets/client/logo.svg"> -->
                <img src="assets/images/login/logo.png" style="width: 140px; height: 40px;">
            </div>
            
            <li><a routerLink="/admin/dashboard" 
                 [ngClass]="{'active':current_menu_item=='dashboard'}">
                 <i class="material-icons">dashboard</i><label>Dashboard</label></a>
            </li>
            <li><a routerLink="/admin/jobs" 
                 [ngClass]="{'active':current_menu_item=='jobs'}">
             <i class="material-icons">work</i><label>Jobs</label></a>
             </li>
             <li><a routerLink="/admin/submissions" 
                 [ngClass]="{'active':current_menu_item=='submissions'}">
             <i class="material-icons">offline_bolt</i><label>Submissions</label></a>
             </li>
             <li><a routerLink="/admin/interviews"
                 [ngClass]="{'active':current_menu_item=='interviews'}">
             <i class="material-icons">contacts</i><label>Interviews</label></a>
             </li>
             <li><a routerLink="/admin/offers" 
                 [ngClass]="{'active':current_menu_item=='offers'}">
             <i class="material-icons">assignment_ind</i><label>Offers</label></a>
             </li>
             <li><a routerLink="/admin/packages"
                 [ngClass]="{'active':current_menu_item=='packages'}">
             <i class="material-icons">redeem</i><label>Packages</label></a>
             </li>
             <li><a routerLink="/admin/industries" 
                 [ngClass]="{'active':current_menu_item=='industries'}">
             <i class="material-icons">view_quilt</i><label>Industries</label></a>
             </li>
            <li><a routerLink="/admin/clients"
                [ngClass]="{'active':current_menu_item=='clients'}" >
             <i class="material-icons">people</i><label>Clients</label></a>
             </li>
             <li><a routerLink="/admin/candidates"
                 [ngClass]="{'active':current_menu_item=='candidates'}">
             <i class="material-icons">people</i><label>Candidates</label></a>
             </li>
            <li><a routerLink="/admin/vendors"
                [ngClass]="{'active':current_menu_item=='vendors'}">
            <i class="material-icons">people</i><label>Vendors</label></a>
            </li>
        </ul>
    </div>
        
        
        
    </div>
    
    
    
  </div>