<div class="footerwrap">
  <div class="footer">
      <div class="footer-logo">
         <img src="assets/images/login/login-logo.png" class="company-name" style="width: 180px;height: 65px;">
      </div>
      <div class="footer-links">
        <h1>Talentzhire</h1>
        <ul>
          <li>About</li>
          <li>Press</li>
          <li>Blog</li>
        </ul> 
      </div>
      <div class="footer-links">
         <h1>Employers</h1>
        <ul>
          <li>Account</li>
          <li>Employer Center</li>
          <li>Post a job</li>
          <li>Contact Support</li>
        </ul>
      </div>
      <div class="footer-links">
         <h1>Community</h1>
        <ul>
          <li>Help</li>
          <li>Guidelines</li>
          <li>Term of Use</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
      <div class="footer-links">
         <h1>Work With Us</h1>
        <ul>
          <li>careers</li>
          <li>Developers</li>
          <li>Vendors</li>
          <li>Advertisers</li>
        </ul>
      </div>

   </div>
</div>
