


  <div class="wrap btm-padding-1 graybg">
	<app-header></app-header>
	<div class="inner-wrap">
	   
	   
	   <div class="row">
  
		<div class="col-sm-12">
  
  
		  <div class="job single-job" style="padding-left: 20%;
		   padding-right: 20%;
		   padding-top: 75px;
		   padding-bottom: 100px;">
  
			<div style="border: 1px solid lightgray;
		   padding: 50px;
		   border-radius: 10px;">
			  <section class="login-page">  
                        <div class="row">
                                <div class="col-xs-12 text-left">
                                     <h4 class="text-danger">You don't have account in Talentzhire please sign up first.</h4>
                                     <a routerLink="/signup">Sign Up</a>
                                     
                                </div>
                       </div>  
                 </section>
  
			 
  
			 
  
			 
  
			</div>
		  </div>
		</div>
	  </div>
	</div>
 </div>

 <app-footer></app-footer>