<div class="wrap">
   <div class="content">
      <div class="header">
         <div class="logo">
               <a routerLink="/">
                  <img src="assets/images/logo.svg">
                  </a>
         </div>
         <nav appLoginNavbar class="navbar navbar-expand-lg navbar-light">
         </nav>
      </div>
      <div class="login-page create-accountwrap">
         <div class="main-content">
            <div class="logo-image">
               <img src="assets/images/create-account.svg">
            </div>
            <div class="create-account custom-form-group">
               <h1 style="display: none;">Select Account Type</h1>
               
               <h4>Please wait we are setting your account.</h4>
               
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /wrap -->
<app-footer></app-footer>