img.media-object {
    max-width: 35px;
}

.nav-link {
    cursor: pointer;
}

.pagination {
    padding: 20px 0!important;
    clear: both;
}

.api_job_id {
    font-size: 12px;
    
}

.shine 
{
    height: 10px;
    margin-top: 0px;
}

.job .posted-time {
    color: #b7b5b5;
}

.badges .badge.badge-green {
    background: #57e160;
    border-color: #57e160 !important;
    color: #fff !important;
    font-weight: 300;
}