.not-found{
    padding-top: 20px;
}

table{
    margin-bottom: 0px;
}

/*.btn{
    padding: 5px 10px !important;
}*/

.interviews__label.completed {
    border: 1px solid green;
    color: green;
}

.submission-status.new {
    color:blue;
}
.submission-status.green {
    color: green;
}
.submission-status.rejected {
    color: red;
}