<app-sidebar [current_menu_item]="'dashboard'"></app-sidebar>

<div class="content-area" #content_area>

    <div class="main-head no-tabs" #main_head>

        <div class="childfix">
            <div class="head-left">
                <h2 class="page-title">Admin Dashboard</h2>
                
            </div>
            <app-header-right></app-header-right>
            
        </div>

    </div>

    <div style=" margin:80px auto 20px auto; font-size: 13px;  min-height: 100vh; ">

        <div class="row">
            <div class="col-12">
              <div class="element-wrapper">

                <h6 class="element-header">
                    
                  </h6>
              
              <div class="element-box">
                
                
              
              </div>
              </div>
            </div>
            
        </div>

        

        
</div>

</div>


