<div class="wrap">
      <div class="content">
            <div class="header">
                  <client-logo></client-logo>
                  <nav appLoginNavbar class="navbar navbar-expand-lg navbar-light">
                  </nav>
            </div>
            <div class="login--2-page">
                  <div class="main-content">
                        <div class="activation-alert">
                              <img src="assets/images/email-1.svg">
                              <h1>Successfully Created your Account !!</h1>
                              <p>{{ messages }}</p>
                              <a routerLink="/login" class="btn btn-blue">Continue</a>
                        </div>
                  </div>
            </div>
      </div>
     
</div>
<!-- /wrap -->
 <app-footer></app-footer>