<div class="wrap">
   <div class="content">
      <div class="header">
      <client-logo></client-logo>
         <nav appLoginNavbar class="navbar navbar-expand-lg navbar-light">
         </nav>
      </div>
      <div class="login--2-page custom-form-group loginwrap">
         <div class="main-content">
            <div class="logo-image">
               <img src="assets/images/img1.svg">
            </div>
            <div class="create-account">
               <h1>Forgot Password</h1>
               <form #loginForm=ngForm (ngSubmit)="onSubmit()" ngNativeValidate>
               <app-errors></app-errors>
               <div class="form-group">
                  <label for="">Email Address</label>
                  <input type="email" autofocus name="email" [(ngModel)]="form.email"
                  class="form-control"
                  placeholder="Enter your Email Address">
               </div>
               <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                     <button [disabled]="isLoading" type="submit"
                        class="btn btn-blue">RESET YOUR PASSWORD <i
                        class="right-arrow"></i></button>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
                     <a style="margin-top: 10px;display: inline-block;" routerLink="/login">Login</a>
                  </div>
               </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- /wrap -->
<app-footer></app-footer>