<app-sidebar [current_menu_item]="'submissions'"></app-sidebar>
<div class="content-area floated">
   <div class="main-head tabs-active">
      <div class="childfix">
         <div class="head-left">
            <h2 class="page-title">Applications</h2>
            <!--
               <a href="#" class="btn-orange"><i class="material-icons">add</i>Add Job</a>
               <a href="#" class="btn-secondary">Add Job Template</a>
               -->
         </div>
         <app-header-right></app-header-right>
         <div class="easytabs">
            <ul>
               <li [ngClass]="{ 'active':showType=='recent'}">
                  <a style="cursor: pointer;" (click)="recent()"><label class="blue dot"></label> Recent</a>
               </li>
               <li [ngClass]="{ 'active':showType=='all'}">
                  <a style="cursor: pointer;" (click)="all()"><label class="green dot"></label> All</a>
               </li>
               <li [ngClass]="{ 'active':showType=='rejected'}">
                  <a style="cursor: pointer;" (click)="rejected()"><label class="orange dot"></label> Rejected</a>
               </li>
               <li [ngClass]="{ 'active':showType=='favorite'}">
                  <a style="cursor: pointer;" (click)="favorite()"><label class="green dot"></label> Favorite</a>
               </li>
            </ul>
            <div class="searchbox">
               <form>
                  <button><i class="material-icons">search</i></button>
                  <input type="search" 
                  (keyup)="searchSubmissions($event)" 
                  name="search_keyword"
                  [(ngModel)]="search_keyword"
                  placeholder="Search By ID, Job Title">
               </form>
            </div>
            <div class="view-switcher">
               <ul>
                  <li style="display: none;">
                     <a href="#"><i class="material-icons">filter_list</i></a>
                     <ul class="drop-wrap">
                        <div class="submission-filter-wrap">
                           <h1>
                              <i class="material-icons">filter_list</i> Filter
                              <a href="clearfilter">Clear all</a>
                           </h1>
                           <h2 class="drop-down-subtitle">Job</h2>
                           <div class="block">
                              <input type="text" class="form-control" placeholder="City">
                              <ul class="filter-chips">
                                 <li>
                                    <label>Content Marketing Manager</label>
                                    <a href="#"><i class="material-icons">close</i></a>
                                 </li>
                                 <li>
                                    <label>Vice President of Marketing</label>
                                    <a href="#"><i class="material-icons">close</i></a>
                                 </li>
                              </ul>
                           </div>
                           <h2 class="drop-down-subtitle">Vendor</h2>
                           <div class="block">
                              <input type="text" class="form-control" placeholder="City">
                              <ul class="filter-chips">
                                 <li>
                                    <label>ABC Company</label>
                                    <a href="#"><i class="material-icons">close</i></a>
                                 </li>
                                 <li>
                                    <label>US Tech Solutions</label>
                                    <a href="#"><i class="material-icons">close</i></a>
                                 </li>
                              </ul>
                           </div>
                           <h2 class="drop-down-subtitle">Submission Type</h2>
                           <div class="block">
                              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                 <input type="checkbox" class="custom-control-input" id="customControlInline">
                                 <label class="custom-control-label" for="customControlInline">Direct Submissions</label>
                              </div>
                              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                 <input type="checkbox" class="custom-control-input" id="check2">
                                 <label class="custom-control-label" for="check2">Submission from Vendor</label>
                              </div>
                           </div>
                           <h2 class="drop-down-subtitle">By Status</h2>
                           <div class="block">
                              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                 <input type="checkbox" class="custom-control-input" id="check3">
                                 <label class="custom-control-label" for="check3">Accepted</label>
                              </div>
                              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                 <input type="checkbox" class="custom-control-input" id="check4">
                                 <label class="custom-control-label" for="check4">Rejected</label>
                              </div>
                              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                 <input type="checkbox" class="custom-control-input" id="check5">
                                 <label class="custom-control-label" for="check5">Interview Scheduled</label>
                              </div>
                           </div>
                        </div>
                     </ul>
                  </li>
                  <li [ngClass]="{'active': view_type=='list'}">
                     <a href="javascript:void(0)" (click)="view_type='list'"><i class="material-icons">menu</i></a>
                  </li>
                  <li [ngClass]="{'active': view_type=='grid'}">
                     <a href="javascript:void(0)" (click)="view_type='grid'"><i class="material-icons">view_module</i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div style=" margin:120px auto 20px auto; font-size: 13px;  min-height: 100vh; ">

      <div class="row" *ngIf="view_type=='list'">
         <div class="col-md-12">
            <app-submissions-list *ngIf="view_type=='list'" 
            [locations] = 'locations'
             [submissionsData]="submissions"></app-submissions-list>

            
               <div class="pagination">
                  <ngb-pagination *ngIf="pageObj.totalElements > 15"
                  [collectionSize]="pageObj.totalElements"
                  [maxSize]="5"
                  [(page)]="pageObj.page"
                  (pageChange)="pageChange($event)" 
                  [pageSize]="pageObj.pageSize"
                  [boundaryLinks]="true">
                  </ngb-pagination>
               </div>
          
         </div>
      </div>
      <div class="row" *ngIf="view_type=='grid'">
         <div class="col-md-12">
            <div class="row" *ngIf="isLoading">
               <div class="col-md-3" *ngFor="let number of [0,1,2,3,4,5,6,7]">
                  <div class="card job-grid">
                     <div class="inner">
                        <div class="s-details">
                           <div class="job-head-list">
                              <a  class="card-title-lg">
                                 <h2>
                                    <div class="shine mini"></div>
                                 </h2>
                              </a>
                              <div class="shine mini"></div>
                           </div>
                           <div>
                              <div class="shine mini"></div>
                              <div class="shine mini"></div>
                           </div>
                        </div>
                        <div class="skillswrap">
                           <div class="row">
                              <div class="col-md-3">
                                 <div class="shine mini"></div>
                              </div>
                              <div class="col-md-3">
                                 <div class="shine mini"></div>
                              </div>
                              <div class="col-md-3">
                                 <div class="shine mini"></div>
                              </div>
                              <div class="col-md-3">
                                 <div class="shine mini"></div>
                              </div>
                           </div>
                        </div>
                        <div class="job-additionalinfo">
                           <div class="shine mini"></div>
                        </div>
                        <div class="job-statisticsv1 submissions">
                           <div class="shine mini"></div>
                           <div class="shine mini"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div *ngIf="!isLoading">
               <app-submissions-grid *ngIf="view_type=='grid'" 
               [locations] = 'locations'
                [submissionsData]="submissions"></app-submissions-grid>
               <div class="pagination">
                  <ngb-pagination *ngIf="pageObj.totalElements > 15"
                  [collectionSize]="pageObj.totalElements"
                  [maxSize]="5"
                  [(page)]="pageObj.page"
                  (pageChange)="pageChange($event)" 
                  [pageSize]="pageObj.pageSize"
                  [boundaryLinks]="true">
                  </ngb-pagination>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <div class="main-content-content form-style-v2">
   <div class="card">
   
     <app-errors></app-errors>
     
       <table class="table table-normalize">
           <thead>
             <tr>
               <th>Id</th>
               <th>Job Title</th>
               <th>Candidate Email</th>
               <th>Candidate Name</th>
               <th>Status</th>
               <th>Created Date</th>
               <th>Actions</th>
             </tr>
           </thead>
           <tbody>
           <tr *ngFor="let submission of submissions">
   
           <td>{{ submission.id }}</td>
           <td>{{ submission.job.title }}</td>
           <td>{{ submission.email }}</td>
           <td>{{ submission.first_name }} {{ submission.last_name }}</td>
           <td><span class="btn" [ngClass]="{'btn-danger':submission.status=='Rejected', 'btn-success':submission.status=='Accepted', 'btn-primary':submission.status=='New Submission'}" >{{ submission.status }}</span></td>
           <td>{{ submission.created_at | date:'MM/dd/yyyy' }}</td>
           
           <td>
   
             <a routerLink="/vendor/submissions/{{submission.id}}" class="fa fa-eye"
                              style="margin-right:10px;">
              </a>
               <a (click)="deleteSubmission(submission.id, submission)" 
                    style="cursor: pointer;" *ngIf="!submission.deleted">
                    <i   *ngIf="!submission.deleted" class="fa fa-trash"></i>   
                    <span *ngIf="submission.deleted">Deleting...</span>
               </a>
   
               
           </td>
           </tr>
           </tbody>
       </table>
   </div>
   </div> -->